body,
html {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.7;
  scroll-behavior: smooth;
  margin: auto;
  background-color: rgba(95, 158, 160, 0.6);
}
h2{
    color: #ffffffba;
}
* {
  text-decoration: none;
  max-width: 600px;
  margin: 20px;
}

header ul {
    list-style-type: none;
    text-align: center;
  }
  
  header ul li {
    display: inline-block;
    margin: auto ;
  }
  
  header ul li a {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
  }
  
  header ul li a:hover {
    color: #ffffff;
}
main{
    display: block;
    position: relative;
}
.prokrut{
    overflow:auto;
}
main img{
    float: right;
    width: 210px;
    height: 210px;
}
.social{
    width: 100px;
}

.social2{
    width: 50px;
}
footer ul{
  list-style-type: none;
    text-align: center;
}
footer ul li {
    display: inline-block;
    margin: auto ;
}
.lastsent{
    text-align: center;
}